<div class="ct-new-navigation">
  <ul class="ct-new-ul">
    <li class="ct-new-li-1">
      <%= link_to image_tag('backarrow.png', alt: 'Back'), root_path, class: 'ct-new-nav-link' %>
    </li>
    <p class="ct-new-p-1">Show purchase</p>
    <li class="ct-new-li-2">
      <%= link_to 'Sign Out', destroy_user_session_path, data: { turbo_method: :delete }, class: "ct-new-signup-link" %>
    </li>
  </ul>
</div>
<p style="color: green"><%= notice %></p>

<div class="pu-sh-container">
  <p class="pu-sh-p-1">
    <span><strong>Name:</strong></span>
    <span><%= @purchase.name %></span>
  </p>
  <p class="pu-sh-p-1">
    <span><strong>Amount:</strong></span>
    <span>$<%= @purchase.amount %></span>
  </p>
  <p class="pu-sh-p-1">
    <span><strong>Categories:</strong></span>
    <span><%= @purchase.categories[0].name %></span>
  </p>
  <p class="pu-sh-p-1">
    <span><strong>Created at:</strong></span>
    <span><%= @purchase.created_at %></span>
  </p>
</div>

<div class="pu-sh-div-1">
  <%= button_to "Delete", @purchase, method: :delete, class: "pu-sh-btn-1" %>
</div>
