<div class="ct-sh-container">
  <div class="ct-sh-inner-container">
    <div class="ct-new-navigation">
      <ul class="ct-new-ul">
        <li class="ct-new-li-1">
          <%= link_to image_tag('backarrow.png', alt: 'Back'), root_path, class: 'ct-new-nav-link' %>
        </li>
        <p class="ct-new-p-1"><%= @category.name %></p>
        <li class="ct-new-li-2">
          <%= link_to 'Sign Out', destroy_user_session_path, data: { turbo_method: :delete }, class: "ct-new-signup-link" %>
        </li>
      </ul>
    </div>
    <p style="color: green"><%= notice %></p>

    <%= render @category %>
    <section class="ct-sh-sec-1">
      <div id="purchases" class="ct-sh-sec-div-1">
        <% @purchases.each do |purchase| %>
          <a href="<%= category_purchase_path(@category, purchase) %>" class="ct-sh-link-1">
          <%= render "purchases/purchase", purchase: purchase %>
          </a>
        <% end %>
      </div>
    </section>
  </div>

  <section class="ct-sh-sec-2">
      <a href="<%= new_category_purchase_path(@category) %>" class="ct-sh-link-2">
        <button data-testid="new-purchase-button" class="ct-sh-btn-1">
          New purchase
        </button>
      </a>

      <%= link_to edit_category_path(@category) do %>
        <button data-testid="edit-category-button" class="ct-sh-btn-2">Edit category</button>
      <% end %>

      <%= button_to "Delete category", @category, method: :delete, data: { confirm: 'Are you sure?' }, class: "ct-sh-btn-3" %>
    </section>
  </div>
